<div class="px-[30%] py-[5%] w-full space-y-4 h-full dark:bg-gray-900">
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
    <h1 class="font-bold text-2xl mb-1 dark:text-white">
      Edit Account
    </h1>
    <p class="text-sm text-gray-400 mb-3">Leave any field blank if you dont want to change it. To save changes you must confirm your old password.</p>
  
    <div class="p-0 flex flex-row">
      <div class="flex flex-col space-y-3">
        <%= form.label "Email:", class: "h-[26px] pl-0.5 pr-1.5 py-0.5 mt-[1px] mr-2 text-sm dark:text-white" %>
        <%= form.label "New Password:", class: "h-[26px] pl-0.5 pr-1.5 py-0.5 mt-[1px] mr-2 text-sm dark:text-white" %>
        <%= form.label "Confirm New Password:", class: "h-[26px] pl-0.5 pr-1.5 py-0.5 mt-[1px] mr-2 text-sm dark:text-white" %>
        <div></div>
        <%= form.label "Confirm Old Password:", class: "h-[26px] pl-0.5 pr-1.5 py-0.5 mt-[1px] mr-2 text-sm dark:text-white" %>
      </div>
  
      <div class="flex flex-col space-y-3 flex-grow">
        <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "text-sm w-full h-fit px-1.5 py-0.5 bg-gray-50 border border-gray-100 rounded-[6px] duration-75 focus:ring-0 focus:ring-offset-0 focus:outline-none dark:text-white dark:bg-gray-800 dark:border-gray-700" %>  
        <%= form.password_field :password, autocomplete: "new-password", class: "text-sm w-full h-fit px-1.5 py-0.5 bg-gray-50 border border-gray-100 rounded-[6px] duration-75 focus:ring-0 focus:ring-offset-0 focus:outline-none dark:text-white dark:bg-gray-800 dark:border-gray-700" %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "text-sm w-full h-fit px-1.5 py-0.5 bg-gray-50 border border-gray-100 rounded-[6px] duration-75 focus:ring-0 focus:ring-offset-0 focus:outline-none dark:text-white dark:bg-gray-800 dark:border-gray-700" %>
        <div></div>
        <%= form.password_field :current_password, autocomplete: "current-password", class: "text-sm w-full h-fit px-1.5 py-0.5 bg-gray-50 border border-gray-100 rounded-[6px] duration-75 focus:ring-0 focus:ring-offset-0 focus:outline-none dark:text-white dark:bg-gray-800 dark:border-gray-700" %>
      </div>
    </div>

    <div class="float-right mt-3 flex flex-row space-x-2">
      <%= link_to "Cancel", todos_path, class: "rounded-lg px-2 py-1 text-sm bg-gray-50 text-black block mt-auto hover:bg-gray-100 duration-75 dark:text-white dark:bg-gray-700 dark:hover:bg-gray-800 cursor-pointer"%>
      <%= form.submit "Update", class: "rounded-lg px-2 py-1 text-sm bg-blue-600 text-white block mt-auto hover:bg-blue-700 duration-75 cursor-pointer" %>
    </div>
  <% end %>
</div>