<%= form_with(model: todo, class: "h-full") do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation" class="fixed bg-red-500 px-2 py-1 w-full text-white text-sm h-fit flex flex-row" id="notice">
      <div class="ml-1 flex flex-col">
        <h2 class="font-bold">
          <%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved
        </h2>
        <% todo.errors.each do |error| %>
          <p class="text-sm">
            <%= error.full_message %>
          </p>
        <% end %>
      </div>
      <button class="mr-1 ml-auto hover:text-gray-100" onclick="document.querySelector('#error_explanation').remove()">Close</button>
    </div>
  <% end %>

  <div class="px-[30%] py-[5%] w-full space-y-4 h-full dark:bg-gray-900">
    <h1 class="font-bold text-2xl mb-3 dark:text-white">
      <%= header_text %>
    </h1>
  
    <div class="p-0 flex flex-row">
      <div class="flex flex-col space-y-3">
        <%= form.label "Title:", class: "pl-0.5 pr-1.5 py-0.5 mt-[1px] mr-2 text-sm dark:text-white" %>
        <%= form.label "Description:", class: "pl-0.5 pr-1.5 py-0.5 mt-[1px] mr-2 text-sm dark:text-white" %>
      </div>
  
      <div class="flex flex-col space-y-3 flex-grow">
        <%= form.text_field :title, class: "text-sm w-full h-fit px-1.5 py-0.5 bg-gray-50 border border-gray-100 rounded-[6px] duration-75 focus:ring-0 focus:ring-offset-0 focus:outline-none dark:text-white dark:bg-gray-800 dark:border-gray-700" %>  
        <%= form.text_area :body, class: "text-sm w-full h-fit px-1.5 py-0.5 bg-gray-50 border border-gray-100 rounded-[6px] duration-75 focus:ring-0 focus:ring-offset-0 focus:outline-none dark:text-white dark:bg-gray-800 dark:border-gray-700" %>
      </div>
    </div>
  
    <div class="float-right mt-3 flex flex-row space-x-2">
      <%= link_to failure_text, todos_path, class: "rounded-lg px-2 py-1 text-sm bg-gray-50 text-black block mt-auto hover:bg-gray-100 duration-75 dark:text-white dark:bg-gray-700 dark:hover:bg-gray-800"%>
      <%= form.submit success_text, class: "rounded-lg px-2 py-1 text-sm bg-blue-600 text-white block mt-auto hover:bg-blue-700 duration-75" %>
    </div>
  </div>
<% end %>